* {
    font-family: "Roboto", sans-serif;
}

span.select2-selection__arrow::before {
    font-family: "LineAwesome";
}

i.la {
    font: normal normal normal 16px/1 "LineAwesome";
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: LineAwesome;
}

.btn {
    font-family: "Roboto", sans-serif !important;
}

table {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
}

table th {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

/* thanhnv loading KHI import file */
.loading {
    position: fixed;
    top: 50px;
    z-index: 9999999999999999999;
    margin-top: -50px;
}

.loading-background-back-all {
    width: 1505px;
    background: #0000008a;
    height: 1500px;
    position: absolute;
    z-index: 100;
}

.loading-position {
    position: absolute;
    z-index: 100;
    color: white;
    width: 1000px;
    float: left;
    margin-left: 750px;
    margin-top: 310px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* thanhnv finished loading import file */
table td {
    vertical-align: middle !important;
}

.img-size-100 {
    max-width: 100px;
    max-height: 100px;
}

.img-size-200 {
    max-width: 200px;
    max-height: 200px;
}

.img-size-70 {
    max-width: 70px;
    max-height: 70px;
}

.ul-chi-tiet-csdt li {
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}

.co-so-info {
    float: right;
    width: 300px;
    text-align: left;
}

#select2-chon-co-so-ajax-container {
    height: calc(2.95rem + 2px);
}

.table-boder-white th {
    border: 1px solid white;
    border-top: 1px solid white !important;
}

.boder-1-gray {
    border: 1px solid #ebedf2;
}

.list-checkbox {
    padding: 0;
    list-style: none;
}

.size-100 {
    max-width: 100px;
    max-height: 100px;
}

#remove-boder td s {
    border: none !important;
}



.select2.select2-container.select2-container--default.select2-container--focus,
.select2.select2-container.select2-container--default,
#chon-nghe-trung-cap + .select2-container,
#chon-nghe-cao-dang + .select2-container {
    width: 100% !important;
}

/* update more */
* {
    font-family: "Roboto", sans-serif;
}

.anh-giay-phep {
    width: 100%;
    height: 235px;
    overflow: auto;
}

.anh-giay-phep img {
    width: 100%;
}

.tu-van-ho-tro-portlet .yeu-cau-ho-tro-quoc-huy{
    width: 50px;
    margin-right: 10px;
}

input+.error, select+.error, textarea+.error{
    color: #f4516c !important;
}
.bg-dark-little-light{
    background: #bdc3d4;
}
.ring {
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper{
    margin-left: -200px /*rtl:ignore*/;
}
.notify-arrow-badge{
    right: 25px!important;
}
.m-list-timeline__time{
    width: 50px!important;

}
.m-list-timeline__item{
    cursor: pointer;
}
.m-list-timeline__item:hover{
    background: #11111114;
}

.unread{
    background: #b9e0dc75;
    padding-right: 5px!important;
}
.ho-tro-image__thankyou{
    border: none;
}

@media (min-width: 1025px){
    .m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper{
        margin-left: -310px;
    }
    .notify-arrow-badge{
        left: auto;
        right: 50px!important;
    }
}
.note-editable {
    margin-top: 15px !important;
}
td.vertical-middle, th.vertical-middle{
    vertical-align: middle!important;
}
