* {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif !important;
}

table {
    font-size: 13px;
}

table th {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

table td {
    vertical-align: middle !important;
}

.size-100 {
    max-width: 100px;
    max-height: 100px;
}

.size-70 {
    max-width: 70px;
    max-height: 70px;
}

.ul-chi-tiet-csdt li {
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}

.co-so-info {
    float: right;
    width: 300px;
    text-align: left;
}
